<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Blog Template for Bootstrap</title>

	
    <!-- Bootstrap core CSS -->
	<!-- Custom styles for this template -->
	{{# stylesheets.load }}
		bootstrap.min.css
		blog.css
	{{/ stylesheets.load }}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
	  {{# javascripts.load }}
		https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js
		https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js
	  {{/ javascripts.load }}
    <![endif]-->
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="/">Blog</a>
          <a class="blog-nav-item" href="me.html">Me</a>

        </nav>
      </div>
    </div>

    <div class="container">
      {{{ content }}}
    </div><!-- /.container -->

    <div class="blog-footer">
      <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </div>
	
	
	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	{{# javascripts.load }}
		https://code.jquery.com/jquery-1.10.2.min.js
		bootstrap.min.js
		//cdnjs.cloudflare.com/ajax/libs/holder/2.0/holder.min.js
	{{/ javascripts.load }}
  </body>
</html>
